/* MAIN */

.about-info-container img {
    width: 30%;
    margin-right: 25px;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    border: 3px solid rgb(61, 61, 61);
    border-radius: 8px;
    margin-right: 20px;
    font-family: Lato;
}

.filter-input:focus {
    outline: none;
}

.filter-input.blue {
    border: 3px solid rgb(5, 70, 189);
}

.filter-btn {
    font-family: Lato;
    padding: 10px;
    color: white;
    background-color: rgb(61, 61, 61);
    border: none;
    border-radius: 8px;
    transition: .3s;
}

.filter-btn:hover {
    background-color: rgb(95, 95, 95);
}

.grey-txt {
    color: rgb(63, 62, 62);
}

.book {
    margin-bottom: 30px;
}

.book-container {
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    color: rgb(61, 61, 61);
    cursor: pointer;
    transition: .3s;
    width: 280px;
    border: 3px solid rgb(61, 61, 61);
}

.book-container:hover {
    background-color: rgb(188, 203, 235);
}

.book-prev-img {
    width: 250px;
    height: 333.3px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.book-prev-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(5, 70, 189);
}

.book-img {
    width: 100%;
}

.book img {
    width: 30%;
    height: 60vh;
    margin-right: 40px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.add-review-container h3 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: rgb(61, 61, 61);
    text-align: center;
}

.add-review-container form {
    margin: 20px;
}

.add-review-container form * {
    margin-bottom: 10px;
    margin-right: 10px;
}

.add-review-container {
    border: 5px solid rgb(61, 61, 61);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.review-container {
    color: rgb(61, 61, 61);
    border: 5px solid rgb(61, 61, 61);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.review-container h3 {
    font-weight: bold;
}

.reviews-container h2 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: rgb(61, 61, 61);
    text-align: center;
}

.book-add-container {
    margin-bottom: 30px;
}

.result-container {
    padding: 10px;
    transition: .3s;
}

.result-container:hover {
    background-color: rgb(220, 220, 220);
}

.result-container:not(:last-child) {
    border-bottom: 1px solid rgb(61, 61, 61);
}

.results-container {
    color: rgb(61, 61, 61);
    font-weight: bold;
    z-index: 998;
    position: absolute;
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 8px;
}

.on-sale {
    font-weight: bold;
    color: red;
}

.prev-btn {
    margin-right: 10px;
}

.info-container div {
    margin-bottom: 20px;
}